html {
    font-size: 100%; /* 16px */
}

html { 
    scroll-behavior: smooth;
}

body {
    color: #24292e;
    font-family: "Sawarabi Gothic", Helvetica, Arial, sans-serif;
    background-color: #fff; /* 全体背景の色 */
}

a { 
    text-decoration: none; /* 下線を消すことができる */
}

p { 
    font-size: 1.3rem; /* デフォルトフォントサイズに対しての倍率 */
}

img { 
    max-width: 100%; /* スマホサイズになってもちゃんと縮小される */
}

li {
    list-style: none;
    font-size: 1.2rem;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0.4%;
}

@media (max-width: 890px) {
    .header-contener{
        margin-top: 5%;
    }
    
    .site-title {
      line-height: 1.5;
      font-size: 1rem;
      width: 100px;
      margin: 0;
    }
  }
  
span {
    color: black;
}

.site-title a {
    color:rgb(247, 124, 63);
    
}

.sec-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 65px;
}

/* header */
#header {
    align-items: center; /* 交差軸に対して中央に寄せることができる */
    height: 120px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
}

#header ul {
    display: flex;
    align-items: center;
}

#header ul li {
    font-size: 1.2rem;
    margin-right: 30px;
    margin-bottom: 30px;
}

#header ul li a {
    color: #24292e;
    transition: all 0.3s;
}

#header ul li a:hover {
    opacity: 0.5;
}

#header li img.icon {
    width: 30px;
}

.header-contener {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px 0;
}


/* main */
#main {
    margin-bottom: 80px;
}
#main img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover; /* 画像が潰れないようにカバーできる */
}

/* ハンバーガーメニュー　 */

/*開閉ボタン*/
.btn-menu {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 3;
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    transition: .4s;
    cursor: pointer;
}

.btn-menu svg {
    margin-top: .25rem;
    height: 2rem;
    width: 2rem;
}

/*閉じるボタン*/
.close-menu {
    border: 1px solid aliceblue;
}

.close-menu svg {
    fill:aliceblue;
}

/*スライドメニューパネル*/
#menu-panel {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 8rem 2rem 2rem;
    width: max(32vw, 20rem);
    height: 100vh;
    background-color: rgb(223, 148, 90);
    box-shadow: 0 0 2rem black;
    /*ハンバガーメニューを押していない状態の場合、画面の外側に配置して見えないようにする*/
    translate: 100vw;
}

.menu-list {
    flex-direction: column;
    display: flex;
    list-style: none;
}

.menu-list li {
    margin: 1.5rem 0;
}

.menu-list a {
    color: aliceblue;
    text-decoration: none;
    font-size: 3rem;
}

/* about */
.div {
    text-align: center;
}

#about img {
    display: block;
    margin: auto;
    margin-bottom: 30px;
}


#about ul {
    margin-bottom: 30px;
    margin: 0 auto;
    text-align: center;
    max-width: 320px;
}

#about ul li {
    margin-bottom: 3px;
    text-align: left;
}

.about-content {
    margin-bottom: 3px;
    text-align: center;
    color: #575757;
}

.about-item {
    padding: .4rem 0;
}

.about-content p {
    font-size: 1rem;
    margin-bottom: .1rem;
}

.about-title {
    color: rgb(247, 124, 63);
}

/* works */
#works ul {
    display: flex; /* 写真を横並びに出来る */
    flex-wrap: wrap; /* 折り返すことができる */
    justify-content: space-between; /* 間隔を空けることができる */
    margin-bottom: 50px;
}

#works ul li {
    width: 31%;
    margin-bottom: 23px;
}

#works ul li img {
    cursor: pointer;
    transition: all 0.3s;
}

#works ul li img:hover {
    transform: scale(1.2, 1.2); /* 画像にカーソルを合わせた時に1.2倍拡大する */
    opacity: 0.7; /* 画像にカーソルを合わした時に透明になる */
}

/* News */
#news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #000000;
    margin-bottom: 20px;
}

#news dt {
    width: 20%;
    border-bottom: 1px solid #000000;
    padding: 20px;
}

#news dd {
    width: 80%;
    border-bottom: 1px solid #000000;
    padding: 20px;
}

/* Contact */

.contact-content {
    display: flex;
    align-items: center;
}

#Contact p {
    text-align: center;
    margin-bottom: 20px;
}

#Contact dl {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1.5rem auto 3rem;
    width: 75%;
}

#Contact dt {
    width: 100%;
    margin-bottom: .3rem;
       
}

#Contact dt label {
    color: #575757;
}

#Contact dd {
    width: 100%;
    margin-bottom: 1.1rem;

}

#Contact dd input,
#Contact dd textarea {
    width: 100%;
    border: 1px solid #8f8f8f;
    padding: 10px;
    
}

#Contact dd textarea {
    height: 10rem;
}

#Contact .button {
    text-align: center;   
}

#Contact .button input {
    border: 1px solid #808080;
    background-color: #808080;
    width: 200px;
    padding: 15px 0;
    color: #fff;
    transition: all 0.5s;
}

#Contact .button input:hover {
    background-color: #fff;
    color: #808080;
}
/* footer */

#footer ul {
    border-top: solid 1px rgb(48, 46, 46);
    padding-bottom: 10px;
}

#footer p {
    text-align: center;
    font-size: .8rem;
    padding: 2rem;
}

#footer {
    background-color: #0b0b0b;
    color: #fff;
}

/* sp */
@media screen and (max-width: 600px) {
    .header-contener {
        display: block;
        margin: auto;
        text-align: center;
    }

    nav {
        visibility: hidden;
    }

    .site-title {
        margin-top: 20px;
        line-height: 1.5;
    }

  /* header */
    #header {
        flex-direction: column;
        height: auto;
        line-height: 30px;
        margin-top: 20px;
    }

    #header li {
        font-size: 0.8rem;
        margin-left: 20px;
    }

    #header li img.icon {
        width: 30px;
        margin-top: 15px;
    }

    /* works */
    #works ul {
        flex-direction: column;
    }

    #works ul li {
        width: 100%;
    }

    /* news */
    #news dl {
        flex-direction: column;
    }

    #news dt {
        width: 100%;
        border-bottom: none;
        padding: 0;
    }

    #news dd {
        width: 100%;
        padding-top: 0;
    }

    /* Contact */
    #Contact dl {
        flex-direction: column;
    }

    #Contact dt {
        width: 100%;
        margin-bottom: 5px;
    }

    #Contact dd {
        width: 100%;

    }
}